.scrollhost {
    scrollbar-width: none;
   -ms-overflow-style: none;
 }
 
 .scrollhost::-webkit-scrollbar {
   display: none;
 }
 .MuiDrawer-paper{
    scrollbar-width: none;
    -ms-overflow-style: none;
 }
 .MuiDrawer-paper::-webkit-scrollbar {
    display: none;
  }
 .scroll-bar {
    width: 8px;
    height: 100%;
    right: 0;
    top: 0px;
    position: absolute;
    border-radius: 7px;
    bottom: 0px;
    background-color: #e0e0e0;
  }
  .scrollhost-container {
    position: relative;
    height: 100%;
  }

  .scroll-thumb {
    width: 6px;
    height: 20px;
    margin-left: 1px;
    position: absolute;
    border-radius: 7px;
    opacity: 1;
    top: 0;
    background-color: #c2c2c2;
  }
  .header-mobile-options{
      height: 0px; 
      animation:increaseht .55s ease-in-out forwards;
      animation-play-state: running;
      
  }
@keyframes increaseht {
    0%{
        height: 0px;
    }
    100%{
        height: 40px;
    }
}
@media screen and (min-width: 600px) {
  .menu-icon{
    display: none !important;
  } 
  .toolbar-icon{
    display: block !important;
    margin-right: 10px;
  }
  .top-div{
    width: calc(100vw - 240px);
    margin-left: 240px; 
  }
  .top-div-inner{
    margin-top: 105px;
  }
}
@media screen and (max-width: 600px) {
  .toolbar-icon{
    margin-right: 10px;
    display: none !important;
  }
  .top-div{
    width: 100vw;
  }
  .top-div-inner{
    margin-top: 90px;
  }
  .heading-caption{
    margin-left: 110px !important;
  }
}
.top-div{
  height: 16rem;
  /* width: 100vw; */
  background: linear-gradient(
-45deg, #2985e0, #004890) !important;
}
.charts-box{
  background: linear-gradient(
-45deg, #ffffff, #f8f8f8) !important;
}
.app-footer{
  background-color: white;
  margin-top: 70px;

}
.footer-div{
  margin: 24px 0px 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}