<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css files/header.css">
    <link rel="stylesheet" href="./css files/all.css">
    <link rel="stylesheet" href="./css files/inclusion-container.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sintony&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sintony&family=Source+Serif+Pro:wght@700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="nav-items">
                <a href="/" class="nav-single-item logo">
                    <img src="/svgs/Vector.svg" alt="logo">
                </a>
            </div>
            <div class="nav-items">
                <p class="nav-single-item para">COVID-19</p>
            </div>
            <hr class="navbar-line">
            <div class="nav-items">
                <p class="nav-single-item para">THEMES</p>
            </div>
            <hr class="navbar-line">
            <div class="nav-items">
                <p class="nav-single-item para">INVESTMENT PORTFOLIO</p>
            </div>
            <hr class="navbar-line">
            <div class="nav-items">
                <p class="nav-single-item para">LEARNING LAB</p>
            </div>
            <hr class="navbar-line">
            <div class="nav-items">
                <p class="nav-single-item para">DATA VISUALISATION</p>
            </div>
            <hr class="navbar-line">
            <div class="nav-items">
                <p class="nav-single-item para">LOGIN</p>
            </div>
        </div>
    </nav>
    <div class="inclusion">
        <div class="small-nav">
            <p class="para-inclusion bold">INCLUSIVE DEVELOPMENT</p>
            <p class="para-inclusion normal">NAVIGATE TO RESOURCES</p>
        </div>
        <div class="inclusion-section">
            <div class="inclusion-section-text">
                <h2 class="question-font">What is</h2>
                <h2 class="question-font" style="margin-top: -25px;">Inclusion?</h2>
                <p class="inclusion-text">Every person, regardless of their identity, is
                    instrumental to the transformation of their own
                    societies - and yet many are still denied full access
                    to legal protections, social and economic
                    participation and essential services, either in
                    principle or in practice. Their inclusion throughout
                    the development process is essential to achieve
                    the human right to health and can be realised by
                    accountably, affordably, and reliably expanding
                    health care access to the poor and most
                    vulnerable. As the World Health Organization has
                    recognized, this means addressing the links
                    between poor health outcomes and social
                    exclusion, including education, employment
                    status, income level, gender and ethnicity: (USAID
                    2018, Gaitonde et al 2018, WHO 2017)
                    </p>
                    <div class="inclusion-btn">LEARN MORE</div>
            </div>
            <div class="inclusion-section-svg">
                <img width='100%' height="100%" src="/svgs/inclusion.svg" alt="InclusionSvg">
            </div>
        </div>
    </div>
    <div class="section2">
        <h2  style='text-align: center; padding-top: 60px; font-size: 45px; font-weight: 600;'class="question-font">Who do we need to include in India?</h2>
        <p class="section2-para">Despite substantial improvements over the past two decades, health outcomes in India continue to be closely tied to socio-economic status, social identity and geographical
            location. 'Excluded groups' are those among whom a majority of members systematically lack access to appropriate, affordable and quality
            health services.
        </p>
        <div class="people-section">
            <img width="100%" height="100%" src="/svgs/peoples.svg" alt="community">            
        </div>
        <div class="inclusion-btn" style="width: 25%; margin:auto">LEARN MORE</div>
    </div>
    <div class="section3">
        <div class="section3-text">
            <h3 style="margin-block-start: 0; margin-block-end: 0;"class="question-font">How to make your program more inclusive?</h3>
            <p class="inclusion-text" style="padding-right: 80px; padding-top:20px">While inclusion as an objective is inherent in development sector efforts, actors may be at
                different stages of their inclusion journey, and facing a diverse set of challenges. While some
                stakeholders may be concerned about identifying and reaching the 'last mile' or 'base of pyramid
                populations, others may be struggling to recruit and retain a diverse workforce or to integrate an
                inclusion lens across their program cycle. Wherever you are on this inclusion journey, the
                Inclusive Development Resource Guide aims to support your efforts.
                </p>
        </div>
        <div class="section3-svg">
            <img width="100%" height="100%" src="/svgs/contact.svg" alt="download info">
        </div>
    </div>
    <div class="contact-section">
        <div class="contact-section-svg">
            <img  style="margin-top: -50px;"width="100%"src="/svgs/contact2.svg" alt="contact svg">
        </div>
        <div class="contact-info-container">
            <h2 class="question-font">Contact Us</h2>
            <p class="inclusion-text">Please share your questions, suggestions and insights with us at abc@abcmail.com</p>
        </div>
    </div>
    <div class="blanck"></div>
    <div class="footer-end">
        <p>Lorem ispum dolor sit amet - legal stuff goes here</p>
    </div>
</body>

</html>