*{
  box-sizing: border-box;
}
body {
  /* --color-primary: #009579;
  --color-primary-dark: #007f67;
  --color-secondary: #252c6a;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --border-radius: 6px; */
  --color-blue: #004890;
  --color-light-blue:#BCE3F8;
  --padding-all:160px;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* font-size: 18px;
  background: var(--color-primary); */
  -ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width:600px){
  body{
      --padding-all: 5px;
  }
}